.icon-view {
    width: 13px;
    height: 13px;
    display: inline-block;
}
.android-icon {
    background: url('../../static/img/android.png')no-repeat;
    background-position: center;
    background-size: 90%;
}
.ios-icon {
    background: url('../../static/img/ios.png')no-repeat;
    background-position: center;
    background-size: 90%;
}
.windows-icon {
    background: url('../../static/img/windows.png')no-repeat;
    background-position: center;
    background-size: 90%;
}
.linux-icon {
    background: url('../../static/img/linux.png')no-repeat;
    background-position: center;
    background-size: 90%;
}
.macos-icon {
    background: url('http://p15.qhimg.com/t11a4d74fffa8111a3ae19a877d.png')no-repeat;
    background-position: center;
    background-size: 90%;
}


.container {
    display: flex;
    flex-wrap: wrap; /* 启用换行 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    gap: 10px; /* 标签之间的间隔 */
}

.light-tag {
    display: inline-flex; /* 让标签内的内容在同一行内 */
    align-items: center; /* 垂直居中 */
    margin-bottom: 5px; /* 标签之间的底部间隔 */
}

.icon-view {
    margin-right: 5px; /* 图标和文本之间的间隔 */
}

.tag-text {
    white-space: nowrap; /* 防止文本换行 */
}