html body{
    background: #fff;
}

/*提醒图标*/
#warnning{
    width: 80px;
    height: 80px;
    margin: 50px auto 20px;
}
#warnText{
    text-align: center;
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
#warnning img{
    width: 80px;
    height: 80px;
}

/*群活码*/
#qun_safety{
    width: 100%;
    height: 45px;
    background: #e8fef2;
    position: fixed;
    top: 0;
}
#qun_safety .icon{
    width: 26px;
    height: 26px;
    float: left;
    background: url('../../static/img/renzheng.png')no-repeat;
    margin:9.5px 9.5px;
}
#qun_safety .text{
    width: calc(100% - 45px);
    height: 45px;
    float: left;
    color: rgba(7,193,96);
    font-size: 15px;
    line-height: 45px;
}
#zhanwei{
    width: 100%;
    height: 45px;
}

#showKfQrcode{
    width: 120px;
    height: 120px;
    margin:50px auto 10px;
}
#showKfQrcode img{
    width: 120px;
    height: 120px;
}
#qun_beizhu{
    text-align: justify;
    color: #666;
    padding:15px 15px;
    margin: 15px auto 0;
    background: #f6f6f6;
    border-radius: 10px;
    width: 80%;
    font-size: 15px;
}
#scanTips{
    text-align: center;
    font-size: 15px;
    color: #ccc;
    margin: 25px auto 0;
}
#qun_safety_new{
    width: 100%;
    height: 45px;
    background: #e8fbf0;
    position: fixed;
    top: 0;
}
#qun_safety_new img{
    width: 180px;
    margin: 10px auto 0;
    display: block;
}
#zm_qrcode{
    background: #fff;
    border-radius: 20px;
    width: 80%;
    display: block;
    margin: 15px auto 0;
    padding: 12px;
    box-shadow: 0 0 15px #ddd;
}
#zm_qrcode img{
    width: 100%;
    display: block;
}
#qun_kf{
    text-align: center;
    font-size: 15px;
    color: #999;
    margin: 18px auto 0;
    background: #f5f5f5;
    width: 100px;
    border-radius: 10px;
    padding: 2px 5px;
}
#qun_kf a{
    text-decoration: none;
    color: #999;
}

/*客服码*/
#kf_safety{
    width: 100%;
    height: 45px;
    background: #e8fef2;
    position: fixed;
    top: 0;
}
#kf_safety .icon{
    width: 26px;
    height: 26px;
    float: left;
    background: url('../../static/img/renzheng.png')no-repeat;
    margin:9.5px 9.5px;
}
#kf_safety .text{
    width: calc(100% - 45px);
    height: 45px;
    float: left;
    color: rgba(7,193,96);
    font-size: 15px;
    line-height: 45px;
}
#kf_beizhu{
    text-align: justify;
    color: #666;
    padding: 15px 15px;
    margin: 15px auto 0;
    background: #fff;
    border-radius: 10px;
    width: 90%;
    font-size: 15px;
}
#kfzm_qrcode{
    width: 250px;
    margin: 15px auto 0;
}
#kfzm_qrcode img{
    width: 250px;
}
#wxnum{
    text-align: center;
    margin: 20px auto 0;
}
#wxnum .num{
    color: rgb(7,193,96);
    padding: 4px 10px;
    border-radius: 100px;
    background: #fff;
    color: #666;
    font-size: 13px;
    margin-left: 5px;
}
#wxnum .copy{
    color: rgb(7,193,96);
    padding: 4px 10px;
    border-radius: 100px;
    background: #fff;
    font-size: 13px;
    /*margin-left: 5px;*/
}
#kf_online_true{
    width: 90%;
    padding:15px 10px;
    position: fixed;
    bottom: 30px;
    background: rgba(7,193,96);
    border-radius: 10px;
    left:0;
    right: 0;
    margin:0 auto;
    text-align: center;
    font-size: 15px;
    color: #fff;
}
#kf_online_false{
    width: 90%;
    padding:15px 10px;
    position: fixed;
    bottom: 30px;
    background: #fc5531;
    border-radius: 10px;
    left:0;
    right: 0;
    margin:0 auto;
    text-align: center;
    font-size: 15px;
    color: #fff;
}

/*中间页*/
#zjy_short_title{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    background-image: -webkit-linear-gradient(left, #ED835F , #EA4144);
    position: fixed;
    top: 0;
}

#zjy_goods_img{
    width: 90%;
    margin: 65px auto 0;
}
#zjy_goods_img img{
    width: 100%;
}

#zjy_long_title{
    width: 90%;
    height: 20px;
    line-height: 20px;
    margin:20px auto 0;
    white-space: nowrap; text-overflow: ellipsis; overflow: hidden; word-break: break-all;
}
#zjy_long_title .baoyou{
    width: 30px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(left, #ED835F , #EA4144);
    color: #fff;
    font-size: 11px;
    margin:1px 0;
    float: left;
}
#zjy_long_title .long_title{
    width: calc(100% - 40px);
    float: left;
    height: 20px;
    line-height: 20px;
    white-space: nowrap; text-overflow: ellipsis; overflow: hidden; word-break: break-all;
    margin-left: 5px;
}

#zjy_price{
    width: 90%;
    height: 30px;
    line-height: 30px;
    margin:10px auto 0;
    white-space: nowrap; text-overflow: ellipsis; overflow: hidden; word-break: break-all;
}
#zjy_price .qhj{
    height: 30px;
    float: left;
    margin-right: 3px;
}
#zjy_price .zjy_discounted_price{
    padding:0 5px;
    height: 30px;
    float: left;
    color: #EA4D46;
    font-size: 23px;
}
#zjy_price .zjy_original_cost{
    padding:0 5px;
    font-size: 14px;
    color: #999;
    height: 30px;
    float: left;
    
}
#zjy_price .zjy_pv{
    color: #999;
    font-size: 15px;
    height: 30px;
    float: right;
}
#zjy_price .qhj .quanhoujia{
    padding:0 5px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #ED835F , #EA4144);
    color: #fff;
    font-size: 12px;
    margin:5px 0;
    float: left;
}

#zjy_tkl{
    width: 90%;
    height: 60px;
    margin:10px auto 0;
    border-radius: 10px;
}
#zjy_tkl .tkl_text{
    width: 70%;
    height: 62px;
    background: #FFEEE7;
    float: left;
    line-height: 60px;
    text-align: center;
    font-size: 15px;
    color: #4a4a4a;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    display: block;
}
#zjy_tkl .tkl_text .tklstr{
    white-space: nowrap; text-overflow: ellipsis; overflow: hidden; word-break: break-all;
    display: block;
}
#zjy_tkl .dot1{
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background: #FFEEE7;
    display: block;
    position: absolute;
    right: -4px;
    top: 0px;
}
#zjy_tkl .dot2{
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background: #FFEEE7;
    display: block;
    position: absolute;
    right: -4px;
    top: 9px;
}
#zjy_tkl .dot3{
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background: #FFEEE7;
    display: block;
    position: absolute;
    right: -4px;
    top: 18px;
}
#zjy_tkl .dot4{
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background: #FFEEE7;
    display: block;
    position: absolute;
    right: -4px;
    top: 27px;
}
#zjy_tkl .dot5{
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background: #FFEEE7;
    display: block;
    position: absolute;
    right: -4px;
    top: 36px;
}
#zjy_tkl .dot6{
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background: #FFEEE7;
    display: block;
    position: absolute;
    right: -4px;
    top: 45px;
}
#zjy_tkl .dot7{
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background: #FFEEE7;
    display: block;
    position: absolute;
    right: -4px;
    top: 54px;
}
#zjy_tkl .copy_btn{
    width: 30%;
    height: 62px;
    background-image: -webkit-linear-gradient(left, #ED835F , #EA4144);
    float: right;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
    outline: none;
    border: none;
    -webkit-appearance:none;
    -webkit-tap-highlight-color:rgba(255,0,0,0);
}
#tipsText{
    text-align: center;
    font-size: 14px;
    color: #999;
    margin-top: 20px;
}
#alertModal{
    width:170px;
    background: rgba(0,0,0,0.2);
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding:20px 0;
    display: none;
}
#alertModal span{
    display: block;
    text-align: center;
    color: #fff;
    padding:0px 20px;
    font-size: 16px;
}

/*短网址*/
#jietuQrcode img{
    width: 200px;
    height: 200px;
    display: block;
    margin: 20px auto;
}

/*多项单页*/
#multiSPA_title{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    background-image: -webkit-linear-gradient(left, #ED835F , #EA4144);
    position: fixed;
    top: 0;
}

#multiSPA_zhanwei{
    width: 100%;
    height: 60px;
}

#multiSPA_img{
    width: 90%;
    margin: 10px auto 30px;
}

#multiSPA_img img{
    width: 100%;
}

#multiSPA_project{
    width: 90%;
    margin: 15px auto 0;
}

#multiSPA_project p{
    width: 100%;
    font-size: 15px;
    color: #666;
    padding: 10px 10px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px dashed #ED835F;
    background: #fff;
    margin-top: -10px;
    margin-bottom: 0;
    text-align: center;
}

#multiSPA_project c{
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 10px;
    background-image: -webkit-linear-gradient(left, #ED835F , #EA4144);
    margin-top: -15px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
}

#multiSPA_bottom_zhanwei{
    width: 100%;
    height: 80px;
}

#copyModal {
    display: none;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 12px 18px;
    border-radius: 5px;
    text-align: center;
    transition: opacity 0.3s;
    max-width: 80%;
}