#right .data-card .data-card-1 {
    display: flex;
}

#right .data-card .data-card-1 .card-left {
    width: 650px;
    height: 300px;
    background: linear-gradient(to bottom right, #385ee2, #3c64f1);
    border-radius: 15px;
}
#right .data-card .data-card-1 .card-left .total-num {
    width: 85%;
    height: 140px;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid #3d68fd;
}
#right .data-card .data-card-1 .card-left .total-num .data-logo {
    width: 90px;
    background: url('../../static/img/datalogo.png')no-repeat;
    background-size: 80%;
    background-position: center;
}
#right .data-card .data-card-1 .card-left .total-num .total-num-today {
    flex: 1;
}
#right .data-card .data-card-1 .card-left .total-num .total-num-today .total-num-today-title {
    width: 100%;
    margin-top: 28px;
    color: #fff;
    text-indent: 20px;
    font-size: 21px;
}
#right .data-card .data-card-1 .card-left .total-num .total-num-today .total-num-today-num {
    width: 100%;
    color: #fff;
    text-indent: 20px;
    font-size: 28px;
}
#right .data-card .data-card-1 .card-left .total-num .userCard {
    width: 210px;
}
#right .data-card .data-card-1 .card-left .total-num .userCard .userinfoCard {
    width: 100%;
    height: 75px;
    background: #6084ff;
    border-radius: 15px;
    display: flex;
    margin: 30px auto;
}
#right .data-card .data-card-1 .card-left .total-num .userCard .userinfoCard .avatar {
    width: 50px;
    height: 50px;
    margin-left: 12.5px;
}
#right .data-card .data-card-1 .card-left .total-num .userCard .userinfoCard .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 12.5px 20px 0 0;
    display: block;
}
#right .data-card .data-card-1 .card-left .total-num .userCard .userinfoCard .userinfo {
    flex: 1;
    margin-left: 10px;
    overflow: hidden;
}
#right .data-card .data-card-1 .card-left .total-num .userCard .userinfoCard .userinfo .username {
    font-size: 17px;
    height: 45px;
    line-height: 55px;
    color: #fff;
    width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}
#right .data-card .data-card-1 .card-left .total-num .userCard .userinfoCard .userinfo .userlimit {
    font-size: 13px;
    height: 10px;
    line-height: 10px;
    color: #9db3ff;
}
#right .data-card .data-card-1 .card-left .huoma-num {
    width: 96%;
    height: 160px;
    margin: 0 auto;
    display: flex;
}
#right .data-card .data-card-1 .card-left .huoma-num .num-card {
    flex: 1;
    cursor: pointer;
}
#right .data-card .data-card-1 .card-left .huoma-num .num-card .num-title {
    padding-top: 25px;
    text-align: center;
    color: #bccafd;
    font-size: 16px;
}
#right .data-card .data-card-1 .card-left .huoma-num .num-card .pv-num {
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding-top: 10px;
}
#right .data-card .data-card-1 .card-left .huoma-num .num-card .uv-num {
    text-align: center;
    color: #9db3ff;
    font-size: 14px;
    padding-top: 10px;
}
#right .data-card .data-card-1 .card-left .huoma-num .num-card .uv-num .today-uv {
    margin-right: 10px;
}
#right .data-card .data-card-1 .card-right {
    flex: 1;
    margin-left: 20px;
    border-radius: 15px;
}
#right .data-card .data-card-1 .card-right {
    flex: 1;
    margin-left: 20px;
    border-radius: 15px;
}
#right .data-card .data-card-1 .card-right .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#right .data-card .data-card-1 .card-right .numcard {
    background-color: white;
    height: 140px;
    border-radius: 15px;
    transition: 0.2s;
}
#right .data-card .data-card-1 .card-right .numcard:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #ddd;
    transition: 0.2s;
}
#right .data-card .data-card-1 .card-right .numcard .cardview {
    display: flex;
    height: 85px;
    margin: 25px auto;
    width: 88%;
    display: block;
}
#right .data-card .data-card-1 .card-right .numcard .cardview .numcard-title {
    text-align: center;
    font-size: 17px;
    color: #999;
    width: 100%;
}
#right .data-card .data-card-1 .card-right .numcard .cardview .numcard-num {
    text-align: center;
    font-size: 30px;
    color: #333;
    width: 100%;
}
#right .data-card .data-card-1 .card-right .numcard .cardview .numcard-uvnum {
    display: flex;
    width: 100%;
}
#right .data-card .data-card-1 .card-right .numcard .cardview .numcard-uvnum .uvnum {
    text-align: center;
    font-size: 15px;
    color: #999;
    flex: 1;
}
#right .data-card .data-card-1 .card-right .numcard .cardview .numcard-uvnum .uvnum-left {
    text-align: right;
    margin-right: 15px;
}
#right .data-card .data-card-1 .card-right .numcard .cardview .numcard-uvnum .uvnum-right {
    text-align: left;
    margin-left: 15px;
}

/*图表*/
#right .data-card .data-card-2 {
    margin: 30px auto;
}
#right .data-card .data-card-2 .chart-view-container {
    display: flex;
}
#right .data-card .data-card-2 .chart-view {
    border-radius: 15px;
    width: 1000px;
    background: #fff;
    padding: 20px;
}
#right .data-card .data-card-2 .openResourceInfo {
    border-radius: 15px;
    flex: 1;
    background: #fff;
    padding: 20px;
    margin: 0 0 0 20px;
}
#right .data-card .data-card-2 .openResourceInfo .openResourceCard {
    width: 96%;
    margin: 0 auto 8px;
    border-radius: 15px;
    background: #f7f7f7;
    display: flex;
    padding: 10px 0;
    cursor: pointer;
    padding-left: 0;
    transition: 0.2s;
}
#right .data-card .data-card-2 .openResourceInfo .openResourceCard:hover {
    background: #eee;
    padding-left: 5px;
    transition: 0.2s;
    background: linear-gradient(to right, rgba(58, 98, 236,0.1), #eee);
}
#right .data-card .data-card-2 .openResourceInfo .openResourceCard-a {
    text-decoration: none;
}
#right .data-card .data-card-2 .openResourceInfo .openResourceCard .icon {
    width: 45px;
    height: 45px;
}
#right .data-card .data-card-2 .openResourceInfo .openResourceCard .icon img {
    width: 25px;
    height: 25px;
    margin: 5px auto;
    border-radius: 100px;
}
#right .data-card .data-card-2 .openResourceInfo .openResourceCard .info {
    flex: 1;
}
#right .data-card .data-card-2 .openResourceInfo .openResourceCard .info .title {
    display: block;
    font-size: 16px;
    color: #333;
    line-height: 35px;
}
#right .data-card .data-card-2 .openResourceInfo .openResourceCard .info .desc {
    display: block;
    font-size: 14px;
    color: #999;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    margin-top: -5px;
}
#right .data-card .data-card-2 .openResourceInfo .openResourceCard .go {
    width: 30px;
    background: url('../../static/img/go.png')no-repeat;
    background-size: 60%;
    background-position: center;
    opacity: 0.4;
}

#right .data-card .data-card-3 {
    margin: 30px auto;
}

#right .data-card .data-card-3 .container-view {
    display: flex;
}

#right .data-card .data-card-3 .container-view .uvdata-view {
    flex: 1;
    background: #fff;
    padding: 30px 0 20px 30px;
    border-radius: 15px;
}
#right .data-card .data-card-3 .container-view .table-title {
    text-align: center;
    font-size: 15px;
    color: #666;
}

.nolimit {
    height: 450px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #999;
}

/* 针对屏幕宽度小于或等于1617px的设备 */  
@media (max-width: 1617px) {
    
    #right .data-card .data-card-2 .chart-view-container {
        display: block;
    }

    #right .data-card .data-card-2 .chart-view {
        border-radius: 15px;
        width: 100%;
        background: #fff;
        padding: 20px;
    }
    
    #right .data-card .data-card-2 .uvdata-view {
        border-radius: 15px;
        width: 100%;
        background: #fff;
        padding: 20px;
        margin: 30px auto;
    }
    #right .data-card .data-card-2 .openResourceInfo {
        display: none;
    }
}