body {
    background: url('../../static/img/login-bg.jpg') no-repeat center center fixed;
    background-size: cover;
}
*{
    padding: 0;
    margin: 0;
}

/*去除input自动填充时的背景色*/
input:-webkit-autofill {
    box-shadow:0 0 0 1000px white inset !important;
}
input:-internal-autofill-previewed,
input:-internal-autofill-selected {
-webkit-text-fill-color: #333 !important;
    transition: background-color 5000s ease-in-out 0s !important;
}
input::placeholder {
    color: #ccc;
}

.container {
    width: 700px;
    margin: 20px auto 0;
    background: #fff;
    border-radius: 15px;
    padding-bottom: 30px;
}

.container .logo {
    width: 100%;
    height: 95px;
    border-bottom: 1px solid #e7e5e5;
    background: url('../static/img/index_logo.png')no-repeat;
    background-position: center;
    background-size: 32%;
}

.container .table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

.container .table thead tr {
    height: 45px;
    border-bottom: 1px solid #e7e5e5;
}

.container .table tbody tr {
    text-align: center;
    height: 45px;
    border-bottom: 1px solid #e7e5e5;
}

.container .install-button {
    border: none;
    outline: none;
    padding: 10px 22px;
    background: #385EE2;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    margin: 20px auto 0;
    display: block;
    cursor: pointer;
}

.container .update {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #e7e5e5;
}

.container .table tbody tr td a {
    text-decoration: none;
    color: #385EE2;
    font-weight: bold;
}

.container .form-view {
    width: 90%;
    margin: 20px auto;
}

.container .form-view .success-text {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.container .form-view .textCard {
    width: 100%;
    height: 80px;
    margin: 10px auto 0;
    background: #f6f4f4;
    border-radius: 10px;
    display: flex;
}
.container .form-view a {
    text-decoration: none;
}
.container .form-view .textCard:hover {
    background: #eee;
}

.container .form-view .textCard .left {
    flex: 1;
}
.container .form-view .textCard .left .title {
    font-size: 21px;
    color: #666;
    line-height: 55px;
    height: 40px;
    text-indent: 20px;
}
.container .form-view .textCard .left .desc {
    font-size: 16px;
    color: #999;
    line-height: 25px;
    height: 40px;
    text-indent: 20px;
}
.container .form-view .textCard .right {
    width: 30px;
    background: url('../static/img/go.png')no-repeat;
    background-position: left;
    background-size: 80%;
    opacity: 0.5;
}

.container label {
    width: 100%;
    height: 25px;
    display: block;
    color: #666;
    font-size: 15px;
}

.container input {
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid #ccc;
    text-indent: 12px;
    border-radius: 10px;
    font-size: 15px;
    background: #fff;
}

.container [name=db_host] {
    margin-bottom: 20px;
}

.container .doubleView {
    width: 100%;
    height: 90px;
}
.container .doubleView .left {
    width: 48%;
    float: left;
}
.container .doubleView .right {
    width: 48%;
    float: right;
}

.container [name=install_folder] {
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    text-indent: 12px;
    border: 1px solid #ccc;
}

.container .install-text {
    text-align: center;
    font-size: 15px;
    color: #F95151;
    margin-top: 20px;
}

.container .installing {
    text-align: center;
    font-size: 15px;
    color: #999;
}

.container .install-status {
    width: 100%;
    margin-top: 20px;
}

#progress-bar {
    width: 130px;
    height: 45px;
    margin: 35px auto 0;
    border-radius: 100px;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    color: rgb(59,94,225);
    background: rgba(59,94,225,0.1);
    font-weight: bold;
    cursor: pointer;
}

#progress-fill {
    width: 0;
    height: 100%;
    background-color: rgb(59,94,225);
    text-align: center;
    color: white;
    border-radius: 100px;
    position: absolute;
    top: 0;
}

#progress-num {
    width: 100%;
    height: 100%;
    line-height: 45px;
    text-align: center;
    position: absolute;
    top: 0;
}

.tips {
    text-align: center;
    font-size: 15px;
}

.install_shuoming {
    text-align: center;
    font-size: 15px;
    display: block;
    color: #999;
    margin-top: 10px;
}
        