*{
	margin:0;
	font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
}
body{
	background: #fff;
}
#quncontent{
	background: #fff;
	width: 100%;
	height: 100%;
	position:fixed;
	top: 0;
}
#qunlogo{
	width: 65px;
	height: 65px;
	margin:50px auto 10px;
	background: #dbdcdf;
	border-radius: 5px;
}
#qunlogo img{
	width: 62px;
	height: 62px;
	margin:1.5px 1.5px;
	border-radius: 3px;
}
#qun_name{
	text-align: center;
	font-size: 22px;
	display: block;
	margin-top: 30px;
}
#hr{
	width: 85%;
	height: 1px;
	border:none;
	background: #eee;
	margin:80px auto 0;
}
#jinqun_shuoming{
	width: 85%;
	margin:40px auto;
}
#jinqun_shuoming ol li{
	font-size: 15px;
	color: #878787;
	margin-bottom: 18px;
	margin-left: -15px;
}
#jinqun_btn{
	background: #07C160;
	width: 200px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	font-size: 17px;
	margin:120px auto;
	font-weight: bold;
}
#jinqun_btn a{
	text-decoration: none;
	color: #fff;
	outline: none;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
}
#qunqrcode{
	width: 90%;
	margin:0 auto;
	display: none;
}
#qunqrcode img{
	border:1px solid #eee;
}
#qunqrcode .bzcode{
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #666;
	font-size: 17px;
	text-align: center;
	font-weight: bold;
}
#qunqrcode a{
	display: block;
	width: 130px;
	height: 50px;
	background: #07c160;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	border-radius: 3px;
	outline: none;
	font-weight: bold;
	margin:20px auto;
}